body{
	background-color: gray;
	max-width: 1000px;
	margin: auto;
}
img{
	float: right;
<<<<<<< HEAD
=======
	height: 500px;
>>>>>>> development
}
audio{
	float: left;
}
<<<<<<< HEAD

=======
div.episode{
	height: 500px;
}
>>>>>>> development
